<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    	</div>
    	<div class="footer-center">
			<a href="http://www.miitbeian.gov.cn">黑ICP备19000037</a>
    	</div>
        <div style="width:300px;margin:0 auto;">
	        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11011202001668" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="/images/beian.png" style="float:left;"/>
            <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">京公网安备 11011202001668号</p></a>
        </div>
      	<!-- <div class="footer-right">
      		<a href="http://hexo.io/" target="_blank">Hexo</a>  Theme <a href="https://github.com/litten/hexo-theme-yilia" target="_blank">Yilia</a> by Litten
      	</div> -->
    </div>
  </div>
</footer>
